@import '../../../app.styles.scss';
.userview-container {
    display: flex;
    justify-content: space-evenly;
    border: $border;
    .userview-data {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}