@import '../../../app.styles.scss';
@mixin autoMargin() {
    margin-top: auto;
    margin-bottom: auto;
}

.userview-container {
    display: flex;
    justify-content: space-evenly;
    border: $border;
    margin: $spacing-small * 1.5 $spacing-small * 2.5 $spacing-small * 1.5 $spacing-small * 2.5;
    padding: $spacing-small;
    text-align: center;
    .userview-data {
        @include autoMargin();
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        font-size: 20px;
        @media only screen and(max-width: $tablet-large) {
            font-size: 16px;
        }
    }
    .userview-avatar {
        @include autoMargin();
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        flex-grow: 3;
        @include mediaRemoveDisplay($tablet-large);
        img {
            display: inline-block;
            width: auto;
            margin-left: $spacing-small * 2.5;
        }
    }
    .userview-checkbox {
        @include autoMargin();
        text-align: left;
        flex-shrink: 3;
        .container {
            margin-bottom: 0;
        }
    }
    .userview-active {
        @include autoMargin();
        color: limegreen;
    }
    .userview-inactive {
        @include autoMargin();
        color: $color-primary
    }
    .userview-actions {
        max-width: 100px;
        min-width: 100px;
    }
}