@import '../../../app.styles.scss';
.btn {
    font-family: $font;
    font-size: 16px;
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer; //dsad
    //
    //
    @include actionsColors($color-primary);
    &:disabled {
        background-color: $dark-wood;
    }
}