@import '../../../app.styles.scss';
<<<<<<< HEAD

.btn {
	font-family: $font;
	font-size: 16px;
	background-color: $color-primary;
	border: none;
	color: white;
	padding: 12px 0 12px 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
	//dsad
	//
	//
	@include actionsColors($color-primary);
	&.fullwidth {
		width: 100%;
	}
	&.facebook {
		background-color: $color-facebook-blue;
		//@include actionsColors($color-facebook-blue);
		color: rgb(72, 72, 72);
		border: 2px solid rgb(72, 72, 72);
	}
	&.google {
		background-color: $color-google-red;
		//@include actionsColors($color-google-red);
		color: rgb(72, 72, 72);
		border: 2px solid rgb(72, 72, 72);
	}
	&.inform {
		margin-bottom: $spacing-small;
	}

	&:disabled {
		background-color: $dark-wood;
	}
}
=======
.btn {
    font-family: $font;
    font-size: 16px;
    background-color: $color-primary;
    border: none;
    color: white;
    padding: 25px 20px 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer; //dsad
    //
    //
    @include actionsColors($color-primary);
    &.fullwidth {
        width: 100%;
    }
    &.facebook {
        background-color: $color-facebook-blue;
        @include actionsColors($color-facebook-blue);
    }
    &.google {
        background-color: $color-google-red;
        @include actionsColors($color-google-red);
    }
    &.inform {
        margin-bottom: $spacing-small;
    }
    &:disabled {
        background-color: $dark-wood;
    }
    @include prefix((user-select: none));
}
>>>>>>> 042cd61b1c52fcef4e338c769ac325ae920acbf8
