@import '../../../app.styles.scss';
.inpt {
    font-family: $font;
    display: inline-block;
    padding: 15px 35px 15px 10px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 19.3px;
    border: $primary-border-style;
    &.fullwidth {
        width: 100%;
    }
    &.error {
        border: solid red 1px;
    }
    &.inform {
        margin-bottom: $spacing-small;
    }
}