@import '../../../app.styles.scss';
@mixin navItem {
    margin-top: 12px;
    padding: 20px;
    font-family: $font;
    color: #484848;
    font-size: 14px;
    font-weight: 520; //@include actionsColors(#ededed);
    &:hover {
        border-bottom: 1px $pale-sky solid;
        cursor: pointer;
    }
}

.navbar {
    display: flex;
    justify-content: flex-end;
    border: $border;
    overflow: hidden;
    box-shadow: 0 1px 0 #ebebeb; //0px 4px 20px rgba(0, 0, 0, 0.3);
    height: 80px;
    @include prefix( ( user-select: none));
    .navitem {
        @include navItem();
        @include mediaRemoveDisplay($tablet-large);
    }
    .logo {
        margin-right: auto;
        margin-left: $spacing-small;
        cursor: pointer;
        @include prefix( ( user-select: none));
    }
    .menu {
        display: none;
        margin-right: $spacing-small;
        @include mediaShow($tablet-large);
    }
}