//Colors
$life-blood: rgb(255, 90, 95);
$patina: #027987;
$pale-sky: #6b717f;
$dark-wood: #484848;
//
$color-facebook-blue: #fff;
$color-google-red: #fff;
///
///Definitions
///
$color-shadow: rgba(0, 0, 0, 0.3);
$color-primary: $life-blood;
$color-accent: $patina;
$color-background: #ffffff;
$color-background-shade: rgb(216, 216, 216);
$color-background-invert: darken($pale-sky, 15);
$color-text: $dark-wood;
$color-text-weak: lighten($dark-wood, 12.5);
$color-text-link: $patina;
$color-text-link-visited: darken($patina, 15);
$color-text-link-hover: darken($patina, 15);
$color-border: $pale-sky;
$color-primary-button-text: $dark-wood;
$color-error: darken($life-blood, 15);
///
///BreakPoints
///
$mobile-small: 240px;
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;
$screen-large: 1280px;
//
$primary-border-style: 1px solid #aaa;
$shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
//
$font: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif; //'Montserrat';
$font-style: '';
//
$spacing-small: 8px;
//
$border: 1px solid #dce0e0;
//
$prefixes: webkit moz ms o;
//
* {
	box-sizing: border-box;
}
.row::after {
	content: '';
	clear: both;
	display: table;
}
[class*='col-'] {
	float: left;
	padding: 15px;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
#root {
<<<<<<< HEAD
	font-family: $font;
	font-style: $font-style;
=======
    font-family: $font; // font-style: $font-style;
>>>>>>> 042cd61b1c52fcef4e338c769ac325ae920acbf8
}

$change-amount: 2;
@mixin actionsColors($color) {
	&:hover {
		background-color: lighten($color, $change-amount);
	}
	&:active {
		background-color: darken($color, $change-amount);
	}
}

@mixin prefix($declarations) {
	@each $property, $value in $declarations {
		@each $prefix in $prefixes {
			#{'-' + $prefix + '-' + $property}: $value;
		}
		#{$property}: $value;
	}
}

span.inpt-error-text {
	display: inline-block;
	color: rgb(255, 90, 95);
	margin-bottom: $spacing-small;
}

a {
	color: $patina;
	&:visited {
		color: $patina;
	}
}
