@import '../app.styles.scss';
@mixin font-top {
    font-family: $font;
    color: #484848;
    font-size: 14px;
    font-weight: 520;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    margin: -16px auto 10px;
    width: 100%;
    border: 0;
    border-top: 1px solid #dce0e0;
    box-sizing: border-box;
}

.separator {
    background: none;
    height: 34px;
    position: relative;
    text-align: center;
}

.separator-text {
    background-color: #fff;
    display: inline-block;
    padding: 6px 8px 6px 8px;
    @include font-top();
}

.signup-alt {
    text-align: center;
    margin: $spacing-small * 2.5;
    @include font-top();
}