@import '../app.styles.scss';
.product-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: $spacing-small * 2.5 * 2;
    .product-item {
        display: inline-block;
        margin: $spacing-small * 2.5;
    }
}